<?xml version="1.0"?>
<launch>
    
    <node name="arena_cloud" pkg="arena_camera" type="image_to_cloud" output="screen">
<!--         <rosparam command="load" file="$(arg config_file)" /> -->
    </node>
    
    <node name="rotate_camera_frame" pkg="tf" type="static_transform_publisher" 
          args="0 0 0 0 0 -1.57 arena_rotated_tf arena_camera 2"/>
    
</launch>
